@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap');
.searchingArea{
    

width: 60%;
margin-left:20%;
margin-top: -5.5%;
}

.searchBar{
    height:40px;
    font-size:15pt;
    width:50%;
    margin-right:3%;
    margin-left: 3%;
    margin-top:3%;
    border-radius: 20px;
    border:none;
    font-family: 'Lilita One', cursive;
    padding-left: 3%;
    color: #616060;
  
}


    
    

    .material-icons-outlined {
        font-family: 'Material Symbols Outlined', sans-serif;
        font-size: 30px;
        margin-left: 24%;
        margin-bottom: 2%;
        margin-top: -3.3%;
        padding-top:.4%;
        padding-bottom:.4%;
        display: flex;
        transition: box-shadow .3s;
        color: #757575;
       
      }

      .material-icons-outlined:hover{
        cursor:pointer;

   
        
    } 

   