@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap');
.searchingArea{
    

width: 750px;
margin-left:700px;
margin-top: -110px;
}

.searchBar{
    height:40px;
    font-size:15pt;
    width:700px;
    margin-right:10px;
    margin-left: 50px;
    margin-top:35px;
    border-radius: 20px;
    border:none;
    font-family: 'Lilita One', cursive;
    padding-left: 60px;
    color: #616060;
  
}


    
    

    .material-icons-outlined {
        font-family: 'Material Symbols Outlined', sans-serif;
        font-size: 30px;
        margin-left: 70px;
        margin-bottom: 30px;
        margin-top: -45px;
        padding-top:6px;
        padding-bottom:6px;
        display: flex;
        margin-right: 60px;
        transition: box-shadow .3s;
        color: #757575;
       
      }

      .material-icons-outlined:hover{
        cursor:pointer;

   
        
    } 

   